/* Основные стили страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  }

h1 {
  margin: 0;
  font-size: 40px;
  background: linear-gradient(to bottom, #add8e6, #00008b);
  color: white;
  }

h2 {
  font-size: 30px;
  color: #b3a817;
  }

/* Стилизация меню */

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 10px 0;
  }

.header__nav {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  }

.header__list {
  display: flex;
  }

.header__item {
  margin-right: 60px;
  }

.header__item:last-child {
  margin-right: 0;
  }

a {
  color: #0733C4;
  }

a:hover {
  color: #b3a817;
  }

/* Стили для секции intro */

.intro {
  background-color: #007bff;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  }

/* Стили для секции content */
.content {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(46, 12, 121, 0.8);
  width: 800px;
  padding: 30px;
  margin: 0 auto;
  }